*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

.modal-wrap{
    position: fixed;
    inset: 0;
    background:#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window{
    gap:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:20px;
    background:#fff;
}